.default {
    background-color: #6d56c1;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

.default:hover {
    cursor: pointer;
    opacity: 0.5;
}

.error {
    background-color: red;
}