@import '../../styles/SASS/variables';

.default {
    border: none;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 15px;
    color: $turnOverTextColor;
    background-color: $primaryColor;
    overflow: hidden;
}

.default:hover {
    cursor: pointer;
}

.error {
    background-color: red;
}