.title {
    background-color: mediumpurple;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
}

.testimonialsBlock {
    border: 1px solid red;
    height: 400px;
    font-size: 55px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}