@import '../../src/common/styles/SASS/mixins';
@import '../../src/common/styles/SASS/variables';

.container {
  @include container();
}


.header {
  padding: 0 25px 10px 25px;
  transition: all .5s;
  position: fixed;
  left: 0;
  width: 100%;
}

.visible {
  transition: top 0.4s ease-out;

}

.hidden {
  top: -80px;
  transition: top 0.4s ease-out;
}