@import '../../src/common/styles/SASS/mixins';
@import '../../src/common/styles/SASS/variables';

.container {
  @include container();
}

.header {
  padding: 0 25px 10px 25px;
  transition: all .5s;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}
