@import '../common/styles/SASS/mixins';
@import '../common/styles/SASS/variables.sass';

.container {
    @include container()
}

.getInTouch {
    padding-top: 60px;
    background: linear-gradient(54deg,rgba(74,76,179,.95) 34%,hsla(0,34%,71%,.95));;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input, .textarea {
    margin-bottom: 15px;
    width: 280px;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid mediumpurple;
    padding: 10px;
    color: mediumpurple;
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono, monospace;
}

.sendBtn {
    min-width: 170px;
}