.title {
    background-color: mediumpurple;
    font-family: Roboto Mono,monospace;
    text-align: center;
    font-size: 36px;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input, .textarea {
    margin-bottom: 15px;
    width: 280px;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid mediumpurple;
    padding: 10px;
    color: mediumpurple;
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono,monospace;
}

.sendBtn {
    min-width: 170px;
}