@import '../../common/styles/SASS/mixins.scss';
@import '../../common/styles/SASS/variables.sass';

.mainDown {
  background: $bgColor;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 60px 25px;
}

.mainDown p {
  font-family: Roboto, sans-serif;
  @include fontParams(18px, 30px, 400, 30px);
  color: $primaryTextColor;

}

.downloadBtn {
  height: 50px;
  min-width: 170px;
  @include fontParams(14px, 20px, 600, 0);
  @include flexCenter();
  &:before {
    content: url("../../assets/img/download_btn_icon.png");
    margin-right: 5px;
  }
}

