@import '../../common/styles/SASS/mixins.scss';
@import '../../common/styles/SASS/variables.sass';

.mainDown {
  background: $bgColor;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  @include sectionWrapper(60px, 25px);

  @media (max-width: 768px) {
    @include sectionWrapper(30px, 15px);
  }

  @media (max-width: 425px) {
    border-radius: 0;
  }

}

.mainDown p {
  font-family: Roboto, sans-serif;
  @include fontParams(18px, 30px, 400, 30px);
  color: $primaryTextColor;
}

.downloadBtn {
  height: 50px;
  width: 200px;
  @include fontParams(14px, 20px, 600, 0);
  @include flexCenter();
  border: none;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 15px;
  color: $turnOverTextColor;
  background-color: $primaryColor;
  overflow: hidden;

  svg{
    margin: 0;
    width: 40px;
  }

  &:hover {
    color: $accentColor;
    cursor: pointer;
    text-decoration: underline;
    transition: ease-in-out 0.3s;
  }
}




