.container {
    max-width: 1280px;
    border: 1px solid;
    height: 100%;
    margin: 5px auto;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
