@import "../../common/styles/SASS/variables";
@import "../../common/styles/SASS/mixins";

.skillItem {
  @include flexCenter(start);
  display: grid;
  grid-template-columns: auto 1fr;
  text-align: center;
  background-color: $primaryColor;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  border-radius: 50px;
  padding: 15px 20px;
  min-width: 200px;
  width: 100%;

  svg {
    margin: 0;
    padding: 5px;
    width: 60px;
    height: 60px;
  }

  .title {
    @include fontParams(24px, 36px, 500,0);
    color: $turnOverTextColor;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    color: $accentColor;
  }
  &:hover svg {
    transform: rotate(360deg);
    fill: $accentColor;
  }

  @media screen and (max-width: 768px){
    padding: 15px 20px;
    min-width: 180px;
    svg {
      padding: 5px;
      width: 50px;
      height: 50px;
    }
    .title {
      @include fontParams(20px, 30px, 500,0);
    }
  }

  @media screen and (max-width: 425px){
    padding: 10px 10px;
    min-width: 130px;
    svg {
      padding: 5px;
      width: 40px;
      height: 40px;
    }
    .title {
      @include fontParams(14px, 24px, 500,0);
    }
  }
}


