@import "../../common/styles/SASS/variables";
@import "../../common/styles/SASS/mixins";

.burgerNav {
  height: 100%;
  width: 100%;

  .burgerNavItems {
    @include flexCenter(center, column);
    position: absolute;
    background-color: $primaryColor;
    padding: 24px;
    top: 0;
    right: 0;
    left: 0;
    height: 0;
    transform: translate(0, -220px);
    transition: ease-in 0.7s;

    .link {
      @include fontParams(14px, 20px, 700);
      color: $turnOverTextColor;;
      font-family: Roboto Mono, monospace;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        color: $accentColor;
        transition: ease-in-out 0.4s;
      }

      .active {
        color: $accentColor;
        background: #7766a1;
      }
    }
  }

  .burgerBtn {
    position: absolute;
    right: 25px;
    background: $primaryColor;
    margin-top: 24px;
    width: 48px;
  }

  .show {
    transform: translate(0, 0);
    transition: ease-in 0.7s;
    height: 220px;
  }


  @media screen and (min-width: 883px) {
    display: none;
  }

}