@import '../../common/styles/SASS/mixins.scss';
@import '../../common/styles/SASS/variables.sass';

.mainUp {
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto Mono, monospace;
  padding-top: 60px;
  background: transparentize($primaryColor, 0.2);

  .avatar_container {
    object-fit: cover;
    padding: 0 15px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 42px;
      left: 28px;
      width: 90%;
      height: 110%;
      border: 5px solid $accentColor;
    }

    .avatar {
      border-radius: 5px;
      box-shadow: 0 0 27px rgba(96, 96, 96, 0.34);
      object-fit: cover;
      height: 380px;
      position: relative;
      top: 60px;
      left: 48px;
    }
  }

  @media screen and (max-width: 882px) {
    flex-direction: column;
    align-items: center;
    .avatar_container {
      top: -20px;
      left: -30px;
    }
  }
}

.bio {
  color: #fff;
  padding-left: 60px;

  .title {
    @include fontParams(44px, 50px, 700, 10px);
    margin-top: 54px;
  }

  .position {
    @include fontParams(16px, 24px, 400, 20px);
  }

  .contact_list {
    font-size: 16px;
    line-height: 24px;

    & dt {
      float: left;
      font-weight: 700;
      text-transform: uppercase;
      opacity: .4;
    }

    & dd {
      padding-left: 100px;
      margin-bottom: 0.8rem;

      & a {
        text-decoration: none;
        color: $turnOverTextColor;

        &:hover {
          color: $accentColor;
          text-decoration: underline;
          transition: ease-in-out 0.3s;
        }
      }
    }
  }

  @media screen and (max-width: 882px) {
    .title {
      margin-top: 80px;
    }

    .position {
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 425px) {
    padding: 0 15px;
    }
}