.projectCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1110px;
    margin-bottom: 40px;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    transition: box-shadow .3s;
    font-family: Roboto Mono, monospace;
}

.projectImg {
    height: 393px;
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.viewBtn {
    display: block;
    border: 2px solid #6d56c1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    background: #7766a1;
    color: white;
}

.textContainer {
    width: 52%;
    padding: 50px 25px 40px 25px;
    font-size: 14px;
    line-height: 20px;
    color: #999;
}

.date {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 10px;
}

.textContainer h3 {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 700;
    color: #555;
}

.textContainer a {
    color: #6d56c1;
    transition: all .3s;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.textContainer a:hover {
    color: #6d56c1;
}

.description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 45px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
}

.stack {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #555;
}

.tags {
    padding: 0;
    gap: 5px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

}

.tags li {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 14%);
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
}

.linkWrapper {
    display: flex;
    justify-content: end;
}

.link {
    color: #6d56c1;
    transition: all .3s;
    text-decoration: none;
    cursor: pointer;
    margin-top: 55px;
    font-size: 14px;
    line-height: 20px;
}
