@import '../../common/styles/SASS/variables';

svg {
  height: auto;
  width: 48px;
  fill: $turnOverTextColor;
  transition: ease-in-out 0.7s;
  padding: 5px;
  margin-bottom: 10px;
  &:hover {
    opacity: 0.8;
    fill: $accentColor;
  }
}
