@import "../../common/styles/SASS/variables";
@import "../../common/styles/SASS/mixins";
@import "../../common/styles/SASS/devices";

.skillsList {
  margin-bottom: 40px;

  .skillsList_title {
    text-transform: uppercase;
    text-align: center;
    color: $accentColor;
    @include fontParams(40px, 32px, 700, 15px);
    font-family: Roboto Mono, monospace;
    @media screen and (max-width: 768px) {
      @include fontParams(30px, 24px, 700, 15px);
      }
  }

  p {
    font-family: Roboto, sans-serif;
    @include fontParams(18px, 30px, 400, 30px);
    color: $primaryTextColor;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 425px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }

}
