.projectsBlock {
    /*min-height: 100vh;*/
    background-color: lightskyblue;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    background-color: yellow;
    font-family: Roboto Mono,monospace;
    font-size: 36px;
}

.projects {
    width: 100%;
    display: flex;
    border: 1px solid;
    justify-content: space-around;
    flex-wrap: wrap;
}