.projectsBlock {
    min-height: 100vh;
    background-color: lightskyblue;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects {
    width: 100%;
    display: flex;
    border: 1px solid;
    justify-content: space-around;
    flex-wrap: wrap;
}