@import '../common/styles/SASS/mixins';
@import '../common/styles/SASS/variables.sass';

.container {
    @include container()
}
.projectsBlock {
    min-height: 100vh;
    @include sectionWrapper();
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}